*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg");
    background-size: cover;
}

header{
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  width:100%;
  margin-left:-20px;

}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo img{
    width: 80px;
  position:absolute;
}


.nav{
    width:100%;
    height: 50%;
}

nav{
    border-bottom: 6px solid white;
    width: 100%;
    height: 80px;
    background: navy;
    display: flex;
    
}

nav ul{
    text-align: center;
}

nav ul li{
  display: inline-block;
  line-height: 30px;
  margin: 25px 145px;
}

nav ul li a{
    color: white;
    font-size: 24px;
    padding: 0px 13px;
    border-radius: 3px;
    text-transform: uppercase;   
}

a:hover{
    background: crimson;
    transition: .5s;
}

p{
    font-size: 18px;
    text-align: right;
}

h1{
    margin-top: 90px;
    font-weight: 500000;
    font-size: 100px;
    font-variant: small-caps;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 60px;
    border-bottom:5px solid white ;
    text-shadow: 4px 4px rgb(148, 147, 147);
    -webkit-text-stroke: 1px white;
}

#rect {
    animation-name: rainbow;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }

  @keyframes rainbow {
    0% {
      color: black;
    }
    10% {
      color: sienna;
    }
    20% {
      color: forestgreen;  
    }
    30% {
      color: darkmagenta;
    }
    40% {
      color: darkcyan;
    }
    50% {
      color: crimson;
    }
    60% {
      color: darkorange;
    }
    70% {
      color: deeppink;
    }
    80% {
      color: navy;
    }
    90% {
      color: darkgoldenrod;
    }
    100% {
    color: black;
      }
    }

h2{
    font-style: oblique;
    margin-top: -55px;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke: 0.4px white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: lowercase;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    -webkit-text-stroke: .5px black;
}

h4{
  margin-top:-60px;
  text-align:center;
  font-size:82px;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #000000;
  animation-name: updown;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes updown {
    0%{
        -webkit-text-stroke-color: #000000;
        -webkit-text-stroke-width: 2.5px;
    }
    50%{
        -webkit-text-stroke-color: #ffffff;
        -webkit-text-stroke-width: 1px;
    }
    100%{
        -webkit-text-stroke-color: #000000;
        -webkit-text-stroke-width: 2.5px;
    }
}

#grid{
    display: flex;
    width:1080px;
    height: 480px;
    margin: auto;
}

#grid1{
width: 100%; 
border: 12px solid crimson;
height: 100%;
}

#grid2{
width: 100%;
margin-left: 12px;
margin-right: 12px;
border: 12px solid crimson;
height: 100%;
}

#grid3{
width: 100%;
border: 12px solid crimson;
height: 100%;
}

#grid1 img{
    width: 360px;
    height: 480px;
}
#grid2 img{
    width: 360px;
    height: 100%;
}

#grid3 img{
    width: 360px;
    height: 480px;
}

#grid   h1{
    display: grid;
}

#review{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 30px;
    border-bottom: 6px solid white;
}

iframe{
    border: 8px solid black;
}

#blank{
    width: 100px;
    color: white;
}

form{
    width: auto;
    height: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

form #email{
    width: 169px;
}

form #submit{
    font-size: 15px;
    font-weight: bolder;
    font-variant: normal;
    width: 75px;
    color: white;
    background-color: navy;
}

#email:focus{
    width: 350px;
    transition: 1.5s;
}

#submit:hover,#submit:visited{
    background-color: crimson;
    transition: .6s;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

footer {
    margin-top: 20px;
    background-color: #ddd;
    padding: 10px;
  }
